{% extends 'base.html' %}
    {% block conteudo %}
    <main class="home-inf"> 
       <section > 
        <img src="\static\capa.png">
            <div class="home-texto">
                <h3>Sobre a universidadde </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt praesentium provident hic beatae nobis saepe natus cupiditate enim? Facilis totam quasi veritatis nisi itaque nihil eligendi eum ducimus consectetur necessitatibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, sed. Cum, expedita error eius, esse voluptate et molestiae libero nobis amet doloribus exercitationem suscipit, quos blanditiis similique inventore enim molestias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, repudiandae tempore soluta voluptatibus perferendis odit nostrum. Nulla qui maiores accusantium quaerat accusamus eum vel, magni, esse reprehenderit facere cum amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente qui, ducimus rerum culpa impedit ad aspernatur odio cum dolore, voluptatibus enim aliquam facilis repudiandae dolor architecto unde autem quia.  </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt praesentium provident hic beatae nobis saepe natus cupiditate enim? Facilis totam quasi veritatis nisi itaque nihil eligendi eum ducimus consectetur necessitatibus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, sed. Cum, expedita error eius, esse voluptate et molestiae libero nobis amet doloribus exercitationem suscipit, quos blanditiis similique inventore enim molestias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, repudiandae tempore soluta voluptatibus perferendis odit nostrum. Nulla qui maiores accusantium quaerat accusamus eum vel, magni, esse reprehenderit facere cum amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente qui, ducimus rerum culpa impedit ad aspernatur odio cum dolore, voluptatibus enim aliquam facilis repudiandae dolor architecto unde autem quia.  </p>

            </div>
       </section> 
    </main>
    {% endblock %}